# Visier auth variables
VISIER_HOST=https://customer-specific.ai.visier.io
VISIER_API='visier-provided-api-key'
VISIER_USERNAME='visier-username'
VISIER_PASSWORD='visier-password'
VISIER_VANITY='visier-tenant-vanity-name'

# Plan-related variables
TARGET_PLAN_NAME='Untitled'
